Options -MultiViews -Indexes

RewriteEngine on

RewriteRule ^wallet/?$ nft_wallet/overview.php [L]
RewriteRule ^wallet/deposit/([^/]+)/?$ nft_wallet/deposit.php [L]
RewriteRule ^wallet/deposit/?$ nft_wallet/deposit.php [L]
RewriteRule ^wallet/withdraw/([^/]+)/?$ nft_wallet/withdraw.php [L]
RewriteRule ^wallet/withdraw/?$ nft_wallet/withdraw.php [L]
RewriteRule ^wallet/transfer/([^/]+)/?$ nft_wallet/transfer.php [L]
RewriteRule ^wallet/transfer/?$ nft_wallet/transfer.php [L]
RewriteRule ^wallet/transactions/?$ nft_wallet/transactions.php [L]
RewriteRule ^wallet/addressbook/?$ nft_wallet/addressbook.php [L]