Options -MultiViews -Indexes

RewriteEngine on

RewriteRule ^wallet/?$ wallet/overview.php [L]
RewriteRule ^wallet/deposit/([^/]+)/?$ wallet/deposit.php [L]
RewriteRule ^wallet/deposit/?$ wallet/deposit.php [L]
RewriteRule ^wallet/withdraw/([^/]+)/?$ wallet/withdraw.php [L]
RewriteRule ^wallet/withdraw/?$ wallet/withdraw.php [L]
RewriteRule ^wallet/transfer/([^/]+)/?$ wallet/transfer.php [L]
RewriteRule ^wallet/transfer/?$ wallet/transfer.php [L]
RewriteRule ^wallet/transactions/?$ wallet/transactions.php [L]
RewriteRule ^wallet/addressbook/?$ wallet/addressbook.php [L]